.footer {
    background-color: var(--third-color);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content:center;
    gap:1.4em;
    padding: 1em;
}

#id_footer{
    font-size: 5em;
}