.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.formulario {
  width: 400px;
  padding: 20px;  
  height: 100%;
  

}

form{
  font-size: 2em;
  padding: 1em;

  display: grid;
  grid-template-columns: 1fr;

}