body {
    font-family: Arial, sans-serif;
}
.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    margin: 1em;
}
p{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;

}
h2{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.box {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    background-color: #ffffdf;
    padding: 1.5em;
    border: 0.1em solid black;
    border-radius: 1.5em;
    align-items: center; 
}
