.navbar-container {
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1rem 1rem;
    font-size: 2.5rem;
    position: fixed;
    width: 100vw;
    z-index: 1;
    top:0;
    left: 0;
}



.navbar-list {
    list-style: none;
    display: none;
}

li:hover{
    transform: scale(1.15); 
    transition: transform 1s ease; 
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.navbar-title{
    font-size: 1.3em;
    color: var(--text-color);
    font-family:  sans-serif;
}

