.searchbar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);
	padding: 1em;
	position: relative; /* Asegúrate de que el elemento tiene una posición definida */
	z-index: 1;
}

.searchbar {
	display: flex;
	align-items: center;
	background-color: var(--fourth-color);
	border: 0.1em solid var(--fifth-color);
	border-radius: var(--border-radius);
	width: 80%;
}

.searchbar input[type="text"] {
	border: none;
	border-radius:0.6em;
	padding: 1em;
	width: 100%;
}

.searchbar button[type="submit"] {
	background-color: var(--fourth-color);
	border: none;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	height: 4em;
	width: 4em;
	padding: 1em 1em;
}

.searchbar button[type="submit"] i {
	font-size: 2em;
}

#id_lupa{
    color: white
}

